

<div class="tasklists">
    <app-task-list #appTaskList class="task-container"
    appDrop
    [dropTags]="['task-item','task-list']"
    [dragEnterClass]="'drag-enter'"
    [appDrag]= 'true'
    [dragTag]="'task-list'"
    [dragData] ="'taskList'"
    [draggedClass]="'drag-start'"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order':list?.order}"
    *ngFor="let list of tasklist$ |async">
        <app-task-header  (moveAll)="launchCopyTaskDialog()"
        (createNewTask)='launchNewTaskDialog()' 
        (delList)='launchConfirmDialog(list)'
        (editList)="launchEditListDialog(list)"
        [header]="list?.name"></app-task-header>
        <app-quick-task></app-quick-task>
        <!-- <app-task-item *ngFor="let task of list.tasks" 
        class="task-items"  
        (taskClick)="launchUpdateTaskDialog(task)"
        [item]="task">
        </app-task-item> -->
    </app-task-list>
</div>

<button class="fab-button" mat-fab type="button"  (click)="launchNewListDialog()">
        <mat-icon>add</mat-icon>
</button>