
<mat-sidenav-container [class.unicorn-dark-theme]="darkTheme">
  <mat-sidenav #sidenav mode="over" position='start'>
    <app-sidebar  (navClick)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <div class="site">
    <header >
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <!-- <button (click)='sidenav.open()'>Open Siderbar
      </button> -->
      <router-outlet></router-outlet>


      <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
    </main>
    <footer>
      <app-footer>
      </app-footer>
    </footer>
  </div>
</mat-sidenav-container>
