<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class='full-width'>
                <!-- <span matPrefix>user</span> -->
                <input matInput type='text' placeholder="you email" formControlName='email'>
                <!-- <span matSuffix>@gmail.com</span> -->
                <!-- <mat-hint>must</mat-hint> -->
                <mat-error>{{form.controls['email'].errors | json}}</mat-error>
            </mat-form-field>
            <mat-form-field class='full-width'>
                <input matInput type="password" placeholder="your password" formControlName='password'>
            </mat-form-field>
                <button type="button" color="primary" type="submit" [disabled]="!form.valid" mat-mini-fab>Login</button>
        </mat-card-content>
        <mat-card-actions>
            <p class="text-right">Not a member? <a routerLink="/register">register</a></p>
            <p class="text-right">Fogot password? <a href="">Reset</a></p>
        </mat-card-actions>
    </mat-card>



    <mat-card>
        <mat-card-header>
            <mat-card-title>Everyday Words:</mat-card-title>
            <mat-card-subtitle>{{quote.cn}}</mat-card-subtitle>
        </mat-card-header>
            <img  mat-card-image [src]="quote.pic" alt="quotes">
        <mat-card-content>
           {{ quote.en}}
        </mat-card-content>

    </mat-card>
</form>    
